:root {
	--app-control-padding: var(--app-control-padding-y) var(--app-control-padding-x);
	--app-control-padding-x: .75rem;
	--app-control-padding-y: .25rem;
	--app-control-border: var(--bs-border-width) solid ;
}

select {
	appearance: base-select !important;
}

select:has(selectedcontent) {
	min-inline-size: 30ch;
	cursor: pointer;
}

select::picker(select) {
	appearance: base-select;
	transition: 
			opacity .2s ease,
			transform .2s ease, 
			display .2s allow-discrete, 
			overlay .2s allow-discrete
		;
}

select::picker-icon {
		display: none;
}

select:not(:open)::picker(select) {
	opacity: 0;
	transform: scale(.95);
}

select:open::picker(select) {
	opacity: 1;
	transform: scale(1);
}

select selectedcontent > * {
	transition: 
	transform 0.2s ease,
	display 0.2s allow-discrete,
	opacity 0.2s;

	@starting-style {
			opacity: 0;
			transform: translateY(10px);
		}
	opacity: 1;
}

select button {
	min-inline-size: 30ch;
}

select:focus-visible button {
	outline: red solid 1rem;
}

select button div {
	inline-size: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.3rem;
}

select button > div svg {
	inline-size: 5ch;
	transition: transform 0.2s ease;
}

select:open > button svg {
	transform: rotate(90deg);
}

select:open > button svg:is(:focus, :focus-visible) {
	outline: none;
}


select::picker(select) {
	background: var(--bs-secondary-bg);
	border-radius: var(--bs-border-radius);
	padding: 0;
	margin-block: 0.25rem;
	box-shadow: var(--app-box-shadow);
	scrollbar-width: thin;
	scroll-behavior: smooth;
	min-inline-size: 30ch;
	outline: none;
	border: none;
}

select::picker(select) hr {
	margin-block: 0.25rem;
}


select option {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	padding: 0.375rem 0.7rem;
	cursor: pointer;
	outline-offset: -0.25rem;
} 

select option::checkmark {
	font-weight: bold;
}

select:focus-visible option {
	outline-offset: -0.25rem;
	background-color: red;
}

select option:is(:focus, :hover) {
	color: inherit;
	background-color: oklch(from var(--bs-primary) l c h / 15%);
}

select option:is(:checked) {
	color: inherit;
	background-color: oklch(from var(--bs-primary) l c h / 35%);
	font-weight: bold;
}

.custom-option {
	display: flex;
	flex-wrap: wrap;
	gap: 0.015rem;
	align-items: center;
	justify-content: start;
}

.custom-option .description {
	color: var(--bs-secondary);
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 3;
}

selectedcontent .custom-option .description {
	display: none;
}

/* ============================================================================
 * FORMS
 * ============================================================================ */

.form-control {
	transition: background-color 0.2s ease, color 0.2s ease;
}

.form-control::placeholder {
	color: var(--bs-secondary-color);
}

.form-control:placeholder-shown {
	background-color: var(--bs-gray-100);
}

/* ============================================================================
 * TABLE
 * ============================================================================ */

td {
	padding: 0.3rem;
}
